body {
	height: 100%;
	line-height: 1.8;
	color: #666;
	margin-right: 0 !important;
}

.w3-third img {
	margin-bottom: 0px; 
	opacity: 0.8; 
	cursor: pointer
}

.w3-third img:hover {
	opacity: 1
}

.text_title {
	font-family: "Didot";
	font-size: 23px;
	font-color: black!important;
}

.text_nav {
	font-family: "Trebuchet MS";
	font-size: 14px;
}

.text_contact {
	font-family: "Trebuchet MS";
}

.text_align {
	text-align: center;
}

span {
	padding: 10px;
}

.mySlides {
	height: 100vh;
    	width: 100vw;
	object-fit: cover;
}

.prev-next_50 {
	width: 50%!important;
	margin-top: 80px;
}

.prev_next_invisible {
	opacity: 0!important;
}
